.recipe-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.recipe-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.recipe-item {
    display: flex;
    align-items: center;
    justify-content: center;

}

.recipe-description {
    margin: 1rem 0 1rem 0;
}

.recipe-ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe-ingredients h4{
    margin-bottom: .8rem;
    text-decoration: underline;
}

.recipe-ingredient {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe-instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0 1rem 0;
}

.recipe-instructions h4{
    margin-bottom: .8rem;
    text-decoration: underline;
}