.footer-container {
    width: 100%;
    background-color: #ff7f00;
    padding-top: .5rem;
    padding-bottom: 1rem;
    height: 100%;
}

.footer-social {
    background-color: #ffae03;
    padding: .5rem 0 1rem 0;
}
.footer-social p {
    margin-top: 0;
}

.footer-social-icons {
    display: flex;
    justify-content: space-evenly;    
}

.icons {
    font-size: 30px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.footer-links a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.link {
    margin: .3rem
}

.footer-copyright {
    font-size: .6rem;
    color: #ffffff;
}
.footer-copyright p {
    margin: 1rem 0 0 0;
}